@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.Container img {
    height: 300px;
    border-radius: 50%;
    border: 12px solid whitesmoke 
}

section {
    height: 100vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #353836;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: lightblue;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav .navbar {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

nav .navbar .menu {
    display: flex;
}
  

ul {
   list-style: none;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

ul a {
    color: white
}

ul li {
    padding: 10px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#contact {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid white
}

#contact:hover {
    background-color: #50c878;
}

