*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080b14;
    color: #fff;
}

#header{
    width: 100%;
    height: 8vh;
    background-image: url(images2/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 2%;
}

 .container h2 a{ /*This is the Anisha Yeddanapudi at the top of each page */
    color: #fff;
    text-decoration: none;
}

.container h1 {
    padding-left: 12.5%;
    padding-bottom: 15px;
}

.container p {
    padding-left: 12.5%;
}

hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-top:1px solid black;
}


/* .container img {
    height: 500px;
    border: 5px solid #d4f1f4
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}

nav ul li a::after{
    content: '' ;
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a.active {
    text-decoration: underline;
    text-decoration-color: #ff004f;
    text-underline-offset: 9px;
    text-decoration-thickness: 3px;
}

.header-text h1 {
    margin-top: 5%;
    font-size: 60px;
    align-items: center;
    margin-left: 30%;
}

.infoButton{
    background-color: transparent; 
    display: inline-block;
    position: relative;
    border: 1px solid #b54769;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    color:#b54769;
    padding-right: 5px;
    padding-left: 5px;
    transition-duration: 0.4s;
    font-size: 14px;
     
}

.infoButton:hover {
    background:#b54769;
    cursor: pointer;
    color: white;
  }

.sub-info-p a {
    text-decoration: none;
    color: #b54769;
    
}

.sub-info-p {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.info-p1 {
    font-size: 14px;
    padding-top: 5px;
}

.sub-info-p a:hover {
    color: #ff004f;
}


.grid-item {
    font-size: 24px;
    /* padding-top: 15px; */
  }

/* --------- publications page -------- */
#publications{
    padding: 80px 0;
    color: #ababab;
    /* margin-left: 20px; */
}

#pub-grid {
    display: grid;
    grid-template-columns: 100px 1.2fr 0.7fr;
    padding-left: 14%;
}

#pub p {
    padding-left: 0px;
    font-size: 14px;
    padding-top: 3px;
}

#progress1 {
    padding-top: 0%;
}

#progress2 {
    padding-top: 4%;
}

#text-progress {
    font-size: 12px;
    background-color: #be5103;
    width: 90px;
    height: 22px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
}

#text-complete {
    font-size: 12px;
    background-color: #03be19bf;
    width: 90px;
    height: 22px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
}

#pub h2 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-top: 0px;
}

#info-p {
    padding-bottom: 5px;
}

#date-pub {
    font-size: 24px;
    padding-left: 40%;
}

/* -----------talks page------------- */

#talks{
    padding: 80px 0;
    color: #ababab;
    /* margin-left: 20px; */
}

#talks-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-left: 14%;
}

#date-talks{
    font-size: 24px;
    padding-left: 48%;
}

#info-p-link {
    padding-bottom: 5px;
    text-decoration: none;
    color: #b54769;
}

#info-p-link:hover {
    color: #ff004f;
}

/* ------------teaching page--------------- */

#teaching{
    padding: 80px 0;
    color: #ababab;
    /* margin-left: 20px; */
}

#subtitle-link {
    font-size: 20px;
    color: #b54769;
    text-decoration: none;
    padding-top: 0px;
}

#subtitle-link:hover {
    color: #ff004f;
}

#info-p-teaching {
    padding-bottom: 5px;
}

#date-teaching {
    font-size: 24px;
    padding-left: 35%;
}

/* ----------resources--------- */

#resource-title {
    padding-left: 12.5%;
    padding-bottom: 3px;
}

 #resource-p {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.column {
    padding-left: 12.5%;
    padding-right: 14.7%;
}

h4 {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 12.5%;
}

h5 a{
    text-decoration: none;
    color: #b54769;
    transition-duration: 0.4s;
    font-size: 16px;
    padding-left: 12.5%;
}

h6 {
    padding-bottom: 8px;
    padding-left: 12.5%;
}

h5 a:hover{
    text-decoration: none;
    color: #ff004f;
}

h3 {
    padding-bottom: 5px;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 12.5%;
}

.math {
    padding-top: 15px;
} 

/* ----------css for small screen--------- */
nav .fa {
    display: none;
}


@media only screen and (max-width:900px){
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background:#ff004f;
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa {
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle-talk {
        padding-top: 10px;
    }

    .talk-divider {
        margin-top: 10px;
    }
    
}

@media only screen and (max-width:600px){
    .subtitle {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .cvButton {
        margin-bottom: 20px;
    }
}